.card__heading a:after {
    content: inherit !important;
}
.card__content {
    display: inherit !important;
    grid-template-rows: inherit !important;
}
.card__information {
    padding-bottom: 0;
    width: 100%;
}
.quickview-btn-area a, 
.quickview-btn-area a:hover{
    text-decoration: none;
}
.quickview-btn-area a .quickview-btn {
    width: 100%;
    background: #212b36;
    text-align: center;
    padding: 5px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
