.card__heading a:after {
    content: inherit !important;
}
.card__content {
    display: inherit !important;
    grid-template-rows: inherit !important;
}
.card__information {
    padding-bottom: 0;
    width: 100%;
}
.quickview-btn {
    width: 100%;
    background: rebeccapurple;
}